<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  </head>
  <body>
  <div id="app">
    <div class="student-watermark">
    <h3>Vue 3 Video 8:</h3>
    <ul>
      <li v-for="name in StudentName" :key="name" class="highlight-name">{{ name }}</li>
    </ul>
  </div>
    <div class="nav-bar"></div>

    <div class="product-display">
      <div class="product-container">
        <div class="product-image">
            <img 
              v-bind:src="image" 
              :class="{ 'out-of-stock-img': !instock }">
            </div>
        
        <div class="product-info">
          <h1>{{ title }}</h1>
          <p v-if="onSale">{{ saleMessage }}</p>
          <p v-if="instock">In Stock</p>
          <p v-else>Out of Stock</p>
          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>
          <p>Cart({{cart}})</p>
          
          <div 
          v-for="(variant, index) in variants" 
          :key="variant.id" 
          @mouseover="updateVariant(index)"
          class="color-circle"
          :style="{ backgroundColor: variant.color }">
          
          </div>
          <button 
          class="button"
          :class="{ disabledButton: !instock }"
          :disabled="!instock" 
          @click="addToCart">Add to Cart
          </button>
          
        

        </div>
      </div>
    </div>
  </div>
  </div>

<!-- Lê Nguyễn Hữu Phước -->
<!-- Video 8-->
 
    <!-- Import Js -->
    <script src="./main.js"></script>

    <!-- Mount App -->
     <script>
      const mountApp = App.mount('#app')
    </script>

  </body>
</html>

